<div class="area">

    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    
</div>

<!-- Timer -->


<div class="time-bar container-fluid" [style.display]="displayGame">
    <img src="assets/icon/reloj-de-arena.png" id="time">
    
    <div class="round-time-bar container" data-style="smooth" style="--duration: 30;">
        <div></div>
    </div>
    <div id="timer">
        {{displayTimer}}
    </div>
    <div id="puntuacion">
        
        <img src="assets/icon/trofeo.png" id="trofeo">
        <p id="puntos">{{puntuacion}}</p>
    </div>
</div>

<!-- Cabecera Pregunta -->

<div class="quiz-container container" [style.display]="displayGame">
    <h1>{{title}}</h1>
    <h2>{{pregunta}}</h2>
    <div class="options mt-3 mb-4" *ngFor="let option of opcionesArray; let i = index">
        <button type="button" class="btn btn-primary btn-rounded button" data-mdb-ripple-init (click)="preguntaClicked($event)"[value]=option>{{option}}</button>
    </div>
</div>

<!-- Tabla de Ranking -->

<div id="ranking" [style.display]="displayRanking">
    <p>Puntuacion final: {{puntuacion}}</p>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Nombre</th>
                <th>Puntuacion</th>
              </tr>
        </thead>
        <tbody>
            <ng-template ngFor let-registro [ngForOf]="rankings" let-i="index">
               <tr>
                <td>{{i+1}}</td>
                <td>{{registro.nombre}}</td>
                <td>{{registro.puntos}}</td>
               </tr>
            </ng-template>
        </tbody>
    </table>
</div>

<!-- Modal Insertar Registro ranking -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">New message</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Recipient:</label>
              <input type="text" class="form-control" id="recipient-name">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No Guardar</button>
          <button type="button" class="btn btn-primary">Guardar Registro</button>
        </div>
      </div>
    </div>
  </div>
