<div class="container">
  <div class="main-title mt-5 mb-2">Modificar categoria</div>

  <!-- Categoria Nombre y foto -->
  <div class="categoria-profile">
    <div id="no-image-container">
      <img src="assets/img/no-image2.png" id="no-image" />
      <button class="btn btn-primary">Añadir Imagen</button>
    </div>
    <form class="categoria-profile">
      <div class="question">
        <input type="text" required [(ngModel)]="nombre" name="opcion4" />
        <label>Nombre</label>
      </div>
    </form>
  </div>

  <!-- Añadir Pregunta -->

  <div class="wrapper container">

    <div class="mb-3" >
      <div class="main-title">Preguntas</div>
      <a class="align-content-center" (click)="addPregunta()">
        <img src="assets/icon/add.png" id="addPregunta" />
      </a>
    </div>

    <!-- Por cada pregunta saldra un registro -->


    <app-pregunta-row-component *ngFor="let pregunta of preguntas; let i = index" [i]="i" [preguntaObject]="pregunta" (borrar)="eliminarPregunta($event)">

    </app-pregunta-row-component>

  <!-- Guardar y Cancelar -->
  <div class="button-div mt-5">
    <button class="btn btn-primary" (click)="guardarButton()">Guardar</button>

    <!-- Al pulsar el boton cancelar saltara un pop up pidiendo confirmacion y sugiriendo guardar los datos-->
    <button
      class="btn btn-primary"
      type="button"
      id="cnl-button"
      data-bs-toggle="modal"
      data-bs-target="#cancelarModal"
    >
      Cancelar
    </button>
  </div>
</div>

<!-- Modal de confirmacion-->
<div
  class="modal fade"
  id="cancelarModal"
  tabindex="-1"
  aria-labelledby="cancelarModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Advertencia</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>
          Los cambios guardados se perderan, ¿Desea guardar los cambios
          realizados?
        </p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="cancelarButton()"
        >
          Cancelar
        </button>
        <button type="button" class="btn btn-primary" (click)="guardarButton()">
          Guardar
        </button>
      </div>
    </div>
  </div>
</div>
