
<!--FONDO-->
<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
<div class="content">
    <div class="container mb-4 mt-5">

        <!--TITULO-->
        <div class="categoria-menu">
            <h2>Categorias</h2>
    
            <button class="border-0 bg-transparent" (click)="changeModoEdicion()" data-bs-toggle="collapse" data-bs-target="#addCollapse" aria-expanded="true" aria-controls="collapseExample">
                <img src="assets/icon/lapiz.png" id="edit-icon" class="img-fluid">
            </button>
        </div>

        <!--CATEGORIAS-->
        <div class="grid mt-4">
            <div *ngFor="let categoria of getCategorias(); let i=index">
                <a class="card education" (click)="categoriaClicked(categoria,i)">
                    <div class="overlay"></div>
                 <div class="circle">
                 </div>
                 <p>{{categoria.nombre}}</p>
               </a>
            </div>
            <a href="/modificarCat" class="collapse align-content-center" class="" id="addCollapse">
                <div></div>
             <div>
                <img src="assets/icon/add.png" id="add-icon">
             </div>
             <p>Añadir</p>
           </a>
        </div>

        <!--MODAL-->
        <div class="modal" tabindex="-1" id="ModalCategoria">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Modal title</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p>Para modificar o añadir una categoria es necesario iniciar sesion.</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  <button type="button" class="btn btn-primary">Iniciar Sesion</button>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>
