
<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
<div class="content">
    <div class="container mb-4 mt-5">
        <div class="categoria-menu">
            <h2>Categorias</h2>
    
            <button class="border-0 bg-transparent" (click)="changeModoEdicion()" data-bs-toggle="collapse" data-bs-target="#addCollapse" aria-expanded="true" aria-controls="collapseExample">
                <img src="assets/icon/lapiz.png" id="edit-icon" class="img-fluid">
            </button>
            
        </div>
        
        <div class="grid mt-4">
            <div *ngFor="let categoria of getCategorias(); let i=index">
                <a class="card education" (click)="categoriaClicked(categoria,i)">
                    <div class="overlay"></div>
                 <div class="circle">
                 </div>
                 <p>{{categoria.nombre}}</p>
               </a>
            </div>
            <a href="/modificarCat" class="collapse align-content-center" class="" id="addCollapse">
                <div></div>
             <div>
                <img src="assets/icon/add.png" id="add-icon">
             </div>
             <p>Añadir</p>
           </a>
        </div>
    </div>
</div>
